<h1>Rodzaje</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Nazwa</th>
    <th>Ilosc w KindBlog</th>
    <th></th>
    <th></th>
  </tr>

  <% for kinds in @rodzaje %>
    <tr>
      <td><%=kinds.id %></td>
      <td><%=kinds.kindName %></td>
      <td><%= BlogKind.where('kind_id = ?', kinds.id).count %></td>
      <td><%= link_to "Usun", kinds, :method=>:delete, :class=>:destroy %></td>
      <td><%= link_to "Pokaż blogi z kategori", :controller => 'kinds', :action =>'show', :param => kinds.id %></td>
    </tr>
  <% end %>
</table>
<br />