<p>
  <%= flash[:danger] %>
</p>

<div class="row">
  <div class="col">

  </div>
  <div class="col-md-6 col-md-offset-3">
    <h1>Zaloguj</h1>
    <%= form_for(:session) do |f| %>

      <div class="form-group">
          <p>
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </p>
      </div>

      <div class="form-group">
        <p>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </p>
      </div>
      <div class="form-group">
        <p>
          <%= recaptcha_tags %>
        </p>
      </div>


      <%= f.submit "Log in", class: "btn btn-primary" %>

    <% end %>

    <p>Nie masz jeszcez konta? <%= link_to "Zarejestruj się teraz!", {controller: 'sessions', action: 'new_account'} %></p>
  </div>

  <div class="col">

  </div>
</div>