
<div>
<div class="container-fluid">
  <div class="row">
      <div class="col">

      </div>

      <div class="col-6">

        <h1>Rejestracja</h1>

        <%= form_with scope: :user, url: {controller: 'sessions',action: 'create_account'}, local: true do |form| %>

            <div class="form-group">

              <p>
                <%= form.label :username, "Nazwa użytkownika" %><br>
                <%= form.text_field :username, :class => "form-control", :placeholder => "Nazwa użytkownika" %>
              </p>

            </div>

            <div class="form-group">
              <p>
                <%= form.label :email, "E-mail" %><br>
                <%= form.text_field :email, :class => "form-control", :placeholder => "E-mail" %>
              </p>
            </div>

            <div class="form row">
                <div class="form-group col-md-6">
                  <p>
                    <%= form.label :password, "Hasło" %><br>
                    <%= form.password_field :password, :class => "form-control", :placeholder => "Hasło" %>
                  </p>
                </div>

              <div class="form-group col-md-6">
                <p>
                  <%= form.label :pass_confirm, "Powtórz hasło" %><br>
                  <%= form.password_field :pass_confirm, :class => "form-control", :placeholder => "Powtórz hasło" %>
                </p>
              </div>
            </div>

          <div class="form row">
            <div class="form-group col-md-6">
              <p>
                <%= form.label :name, "Imię" %><br>
                <%= form.text_field :name, :class => "form-control", :placeholder => "Jan" %>
              </p>
            </div>

            <div class="form-group col-md-6">
              <p>
                <%= form.label :surname, "Nazwisko" %><br>
                <%= form.text_field :surname, :class => "form-control", :placeholder => "Kowalski" %>
              </p>
            </div>
          </div>

          <div class="form-group">
            <p>
              <%= form.label :phoneNumber, "Numer telefonu" %><br>
              <%= form.text_field :phoneNumber, :class => "form-control"%>
            </p>
          </div>


          <p>
            <%= form.submit "Stwórz konto", :class => "btn btn-primary" %>
          </p>
        <% end %>


      </div>

      <div class="col">
        <p>
          <%= link_to 'Wróć', login_path %>
        </p>
      </div>
  </div>
</div>
</div>