<h1>Blogi</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Nazwa</th>
    <th>Wlasciciel</th>
    <th>Data</th>
  </tr>

<% for blog in @blogs %>
  <tr>
    <td><%=h blog.id %></td>
    <td><%=h blog.name %></td>
    <td><%=h @users.find{|item| item.id == blog.user_id}.username %></td>
    <td><%=h blog.dataZalozenia %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj bloga', new_blog_path %>