
<div class="container-fluid">

  <div class="row">

      <div class="col">
      <p></p>
      </div>

      <div class="col-6">
        <div>
          <h2>Załóż blog</h2>

          <%= form_with scope: :blog, url: blogs_path, local: true do |form| %>


            <p>
              <%= form.label :name, "Nazwa blogu" %><br />
              <%= form.text_field :name, class: 'form-control' %>
            </p>

            <p>
              <%= form.label :rodzajeblogu, "Rodzaje blogu" %> <br/>
              <%= form.text_field :rodzajeblogu, class: 'form-control' %>
            </p>

            <p>
              <%= form.submit "Stwórz", :class => "btn btn-success"%>

            </p>
          <% end %>
        </div>
      </div>

      <div class="col">
        <p></p>
      </div>
    </div>


</div>
