<div class="row">
  <div class="col">
    <h1>Użytkownicy</h1>
  </div>
  <div class="col">
    <div class="float-right">
      <%= link_to new_user_path do %>
        <button type="button" class="btn btn-dark">Nowy użytkownik</button>
      <% end %>
    </div>
  </div>
</div>

<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Hasło</th>
      <th scope="col">Imię</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Adres mail</th>
      <th scope="col">Numer</th>
      <th scope="col">Administrator?</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% for u in @users %>
      <tr>
        <th scope="row"><%=u.id %></th>
        <td><%=h u.username %></td>
        <td><%=h u.password %></td>
        <td><%=h u.name %></td>
        <td><%=h u.surname %></td>
        <td><%=h u.email %></td>
        <td><%=h u.phoneNumber %></td>
        <td><%=h (u.is_admin)? "tak" : "nie" %></td>
        <td><%= link_to 'Usun', u, method: :delete, data: {confirm: 'Czy na pewno usunąć tego użytkownika?'} %></td>
        <td><%= link_to 'Edytuj', edit_user_path(u) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
