<h1>Posty blogu -> <%=h @nazwa %></h1>

<table>
  <tr>
    <th>Data</th>
    <th>Title</th>
    <th>Status</th>
    <th>ifTop</th>
    <th>TextContent</th>
    <th>Img</th>

  </tr>

<% for post in @posts %>
  <tr>
    <td><%=h post.data %></td>
    <td><%=h post.title %></td>
    <td><%=h post.status %></td>
    <td><%=h post.ifTop %></td>
    <td><%=h post.text_content %></td>
    <td><%=h post.img_route %></td>
  </tr>
<% end %>
</table>

<br />
<div>
  <% for post in @posts.reverse_order %>

    <div class="container">
        <% alt_naglowek_dl = 10%>
        <h2> <%= link_to (post.title.blank?)? post.text_content.first(alt_naglowek_dl)+"..." : post.title, :controller => 'posts', :action=>'show', :id => post.id%> </h2>

      <p>
        <% limit_dlugosci_podgladu = 15%>
        <%=h (post.text_content.length>limit_dlugosci_podgladu+1)? post.text_content.first(limit_dlugosci_podgladu)+"...": post.text_content.first(limit_dlugosci_podgladu) %>
      </p>

      <p style="font-size: small">
        Posted on <%=h post.data %>
        <% if(logged_in? && (current_user.id == post.blog.user.id || current_user.is_admin )) %>
          | <a style="font-size: small"><%= link_to 'Usun', [post.blog, post], method: :delete, data: {confirm: 'Czy aby na pewno?'} %></a>
          | <a style="font-size: small"><%= link_to 'Edytuj', edit_blog_post_path(blog_id: post.blog.id, id: post.id)  %></a>
        <% end %>
      </p>
      <p style="font-size: small">
        <% for tags in post.tags %>
          <%=h '#'+tags.tagName+' ' %>
        <% end %>
      </p>

      <br/>
    </div>
  <% end %>

</div>

<br />

<%= link_to 'Dodaj post', new_blog_post_path %>