<h1>Utwórz post na blogu -> <%= @nazwa %></h1>

<%= form_with scope: :post, url: blog_posts_path, local: true do |form| %>
  

  <p>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :text_content %><br />
    <%= form.text_field :text_content %>
  </p>
  <p>
    <%= form.label :status %><br />
    <%= form.text_field :status %>
  </p>

  <p>
    <%= form.label :tagipostu %> <br/>
    <%= form.text_field :tagipostu %>

  </p>
  
  <p>
    <%= form.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', blog_posts_path %>

