
<h1>Post -> <%= @post.title %></h1>
<%= link_to 'Back', blog_posts_path %>

<p style="font-size: small">
  Created on: <%= @post.data %>
</p>
<p>
  <%= @post.text_content %>
</p>

<br />

<h2>Komentarze: </h2>
<% if (logged_in?) %>
  <%= render 'comments/form' %>
<% else %>
  <%= link_to 'Zaloguj sie aby dodac komentarz', {controller: 'sessions', action: 'new'} %>
<% end %>

<div>
<% for komentarz in @comments.reverse_order %>

    <p style="font-size: small">
      Created by: <%= @users.find{|item| item.id == komentarz.user_id}.username %> <%= time_ago_in_words(komentarz.dataiIGodz) %> ago
      <% if(logged_in? && (current_user.id == @post.blog.user.id || current_user.id == komentarz.user.id || current_user.is_admin )) %>
        | <a style="font-size: small"><%= link_to 'Usun', [komentarz.post.blog, komentarz.post, komentarz], method: :delete, data: {confirm: 'Czy aby na pewno?'} %></a>
      <% end %>
    </p>

    <p>
      <%= komentarz.content %>

      <% btnclass = "btn btn-outline-primary btn-sm disabled"%>
      <% btnactive = (logged_in?)? "false" : "true" %>
      <% if(logged_in? ) %>
        <% btnclass = (current_user.voted_for? komentarz)? "btn btn-primary btn-sm" : "btn btn-outline-primary btn-sm"%>
      <% end %>

      <% urlhrefa = url_for(:action => 'upvote',:controller => 'comments',:comment => komentarz.id, method: :put) %>

      <a href="<%= urlhrefa %>" class="<%= btnclass %>" role="button" aria-disabled="<%= btnactive %>">
        upVote <span class="badge badge-light"><%= komentarz.cached_votes_up %></span>
      </a>


    </p>
    <br/>
  </div>
<% end %>