
<h1>Post -> <%= @post.title %></h1>

<p style="font-size: small">
  Created on: <%= @post.data %>
</p>
<p>
  <%= @post.text_content %>
</p>

<br />
<%= render 'comments/form' %>

<% for komentarz in @comments.reverse_order %>
  <div>
    <p style="font-size: small">
      Created by: <%= @users.find{|item| item.id == komentarz.user_id}.username %> <%= time_ago_in_words(komentarz.dataiIGodz) %> ago
    </p>
    <p>
      <%= komentarz.content %>
    </p>
    <br/>
  </div>
<% end %>