
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <!-- lewy panel -->
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" style="font-family: 'Impact'" >
        <%= link_to "ProjektBlogi",{:controller => 'public', :action=>'home'}, { :class => "navbar-brand" } %>
      </li>
      <li class="nav-item" >
        <%= link_to "Blogi",{:controller => 'blogs', :action=>'index'},
                    { :class => "nav-link"+
                        ((params[:controller]=='blogs' && params[:action]=='index')? " active": "") } %>
      </li>
      <li class="nav-item" >
        <%= link_to "Rodzaje",{:controller => 'kinds', :action=>'index'},
                    { :class => "nav-link"+
                        ((params[:controller]=='kinds' && params[:action]=='index')? " active": "") } %>
      </li>
      <li class="nav-item" >
        <%= link_to "Tagi",{:controller => 'tags', :action=>'index'},
                    { :class => "nav-link"+
                        ((params[:controller]=='tags' && params[:action]=='index')? " active": "") } %>
      </li>
    </ul>
  </div>

  <!-- srodkowy panel -->
  <div class="mx-auto order-0" style="font-family: 'Arial Black'">
    <%if !params[:blog_id].blank? %>
      <%= link_to Blog.find(params[:blog_id]).name,{:controller => 'blogs', :action=>'show', :id => params[:blog_id]}, { :class => "navbar-brand mx-auto" } %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <!-- prawy panel -->
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <% if (params[:controller] != 'sessions' || params[:action] == 'edit_account' || params[:action] == 'update_account')%>
    <ul class="navbar-nav ml-auto">

      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Witaj <%= current_user.username %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Edytuj profil",{:controller => 'sessions', :action=>'edit_account'}, {:class=>"dropdown-item"}%>
            <% if current_user.is_admin %>
              <%= link_to "Użytkownicy",users_path, {:class=>"dropdown-item"}%>
            <% end %>

            <% if current_user.blogs.count != 0 %>
              <hr>
            <% end %>

            <% for b in current_user.blogs %>
              <%= link_to b.name, blog_posts_path(b.id), {:class=>"dropdown-item"}%>
            <%end %>
          </div>
        </li>

        <li class="nav-item" >
          <%= link_to "Wyloguj",{:controller => 'sessions', :action=>'destroy'}, { :class => "nav-link" } %>
        </li>
      <% else %>
        <li class="nav-item" >
          <%= link_to "Zaloguj",{:controller => 'sessions', :action=>'new'}, { :class => "nav-link" } %>
        </li>
      <%end%>

    </ul>
    <% end %>
  </div>
</nav>