<!DOCTYPE html>
<html>
  <head>
    <title>BlogProjekt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/header' %>

      <div class="jumbotron">

        <div >
          <% flash.each do |name, massage| %>
            <% case name%>
              <%  when "notice" then type_notice = "alert alert-info"%>
              <% when "success" then type_notice = "alert alert-success"%>
              <% when "error" then type_notice = "alert alert-danger"%>
              <% when "alert" then type_notice = "alert alert-warning"%>
              <% else type_notice = "alert alert-info"%>
            <% end %>

            <%= content_tag(:div, massage, class: type_notice) do%>
              <%= content_tag(:button, 'x', class: "close", data: { dismiss: 'alert' }) %>
                  <%= massage %>
            <% end %>
          <% end %>
        </div>


        <div >
          <%= yield %>
        </div>

      </div>

  </body>
</html>
